*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}

.container{

width:700px;

background:white;

padding:40px;

border-radius:20px;

box-shadow:0 20px 40px rgba(0,0,0,.3);

text-align:center;

}

h1{

margin-bottom:10px;

color:#222;

}

.subtitle{

color:gray;

margin-bottom:30px;

}

textarea{

width:100%;

height:220px;

padding:15px;

font-size:17px;

border-radius:10px;

resize:none;

border:2px solid #ccc;

outline:none;

}

textarea:focus{

border-color:#2196f3;

}

button{

margin-top:20px;

padding:15px 40px;

font-size:18px;

cursor:pointer;

border:none;

border-radius:8px;

background:#2196f3;

color:white;

transition:.3s;

}

button:hover{

background:#1565c0;

}

.loading{

margin-top:20px;

display:none;

font-size:20px;

color:#444;

}

.result{

display:none;

margin-top:30px;

padding:25px;

border-radius:10px;

font-size:22px;

}

.spam{

background:#ffebee;

color:#c62828;

}

.ham{

background:#e8f5e9;

color:#2e7d32;

}