<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Spam Email Detector</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<h1>📧 Spam Email Detector</h1>

<p class="subtitle">
AI Powered Email Classification
</p>

<textarea
id="message"
placeholder="Paste your email or SMS here..."
></textarea>

<button id="predictBtn">
Detect Spam
</button>

<div id="loading" class="loading">
Analyzing...
</div>

<div id="result" class="result">

<h2 id="prediction"></h2>

<p id="confidence"></p>

</div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>